.form-box {
    max-width: 300px;
    margin: auto;
    margin-top: 40px;
    color: #ffffff;
}

.error {
    color: red;
    font-size: 14px;
}


.mr-10 {
    margin-right: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}